@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-600 font-sans antialiased selection:bg-brand-blue selection:text-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark body {
    @apply bg-[#000000] text-slate-100;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .glass {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-apple-sm transition-all duration-300;
  }

  .glass-dark {
    @apply dark:bg-black/80 dark:backdrop-blur-md dark:border-white/10;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}