@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }

  .dark body {
    @apply bg-slate-950 text-slate-100;
  }
}